* {
    margin: 0;
    padding: 0;
    color: rgb(153, 160, 153);
}

/* font-family: 'Akaya Kanadaka', cursive;
font-family: 'Baloo 2', cursive;
font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Handlee', cursive;
font-family: 'Itim', cursive;
font-family: 'Jomhuria', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Viaoda Libre', cursive;
font-family: 'Yellowtail', cursive;
 */
html {
scroll-behavior: smooth;

}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Handlee', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header#Home{
    display: block;
    text-decoration: none;
    position: fixed;
    right: 0;
    padding-right: 1%;
    font-size: 1.5em;

    figure.img{
        display: table;
        margin: 0 auto;

        img.indivimg{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            margin-top: 20%;
            height: 20vh;
            margin-bottom: 10%;
            filter: grayscale(0);
        }
    }

    h1{
        text-align: center;
        line-height: .8em;
        font-size: 3.5em;
        font-family:'Akaya Kanadaka', cursive;
        font-weight: lighter;
    }

    h2#h2web{
        text-align: center;
        margin-bottom:1em;
        font-size: 2em; 
        color: rgb(82, 82, 82);
        font-family:'Akaya Kanadaka', cursive;
    }
}



main{
    nav#navigation{
        height: 100vh;
        text-align: center;
        justify-content: space-between;

        ul{
            li{
                list-style: none;
                width: 50%;
                margin: 0 auto;
                justify-content: space-between;

                div{
                    height: 6vh;
                    display: table;
                    width: 100%;
                    margin-top: 0.3%;
                    & :hover{
                        background-color: blanchedalmond;
                    }
                    a{
                        list-style: none;  
                        text-decoration: none;
                        display: table-cell;
                        vertical-align: middle;text-transform: uppercase;
                        font-size: 1.2em;
                        color: black;
                        position: relative;

                    }
                    a#lebenslauf{
                        span.nav-font-color{
                            color: black;
                            font-weight: bold;

                        }

                    }
                    
                }
            }
        }
    }
    section#lebenslauf{
       
        div.lebenslauf{
            padding: 3%;
            font-size: 1em;
            text-align: left; 
            a#dwnld{
                display: block;
                margin-top: 40vh;
                text-decoration: none;
            }
        }
    }
    section#kontakt{
        
        div{
            text-align: left;
            margin-left: 5%;
            a{
                text-decoration: none;
                span{
                    font-size: 2em;
                    vertical-align: .4em;
                    margin-left: .4em;
                }
            }
        }
        form{
            div.contact{
                margin-left: 30%;
                margin-top: 50px;
                width: 30%;
                text-align: right;
                div{
                    label{
                        input{
                            width: 60%;
                            color: black;
                            margin-top: 10px;
                            padding: 2px;
                        }
                    }
                }
                div{
                    textarea{
                        width: 60%;
                        color: black;
                        margin-top: 10px;
                        padding: 2px;
                        margin-top: 15px;
                        height: 100px;
                    }
                }
                div.button{
                    button{
                        background-color:#58f577;
                        border: 0;
                        color: grey;
                        height: 30px;
                        width: 70px;
                        padding: 2px;
                    }
                }
            }
        }
    }
}
.icons{
    font-size: 2em;
    color: rgb(58, 248, 137);
    margin: .5em 0;
    text-shadow: 5px 2px 9px #1fec3b;
}
#lebenslauf, #portfolio, #skills, #kontakt {
    
    height: 100vh; 
    text-align: center;
}
#navcolor_1{
    background-color:#0DCBFA;
}

#navcolor_2{
    background-color:#0BDED0;
}

#navcolor_3{
    background-color:#01F59F;
}

#navcolor_4{
    background-color:#0BDE58;
}
hr{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(20, 19, 19, 0.356), rgb(145, 240, 153), rgba(19, 16, 16, 0.253));
}
@media only screen and (min-width:500px) {
    ul#navlist {
        display: flex;
        flex-direction:row;
    }
    section#lebenslauf{
        div.lebenslauf{
            font-size: 2em;
        }
    }
}







