* {
    margin: 0;
    padding: 0;
    color: rgb(153, 160, 153);
}

/* font-family: 'Akaya Kanadaka', cursive;
font-family: 'Baloo 2', cursive;
font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Handlee', cursive;
font-family: 'Itim', cursive;
font-family: 'Jomhuria', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Viaoda Libre', cursive;
font-family: 'Yellowtail', cursive;
 */
html {
scroll-behavior: smooth;

}

body{
    background-color: rgb(0, 0, 0);
    font-family:'Akaya Kanadaka', cursive;
}
#Home{
    display: block;
    text-decoration: none;
    position: fixed;
    right: 0;
    padding-right: 1%;
    font-size: 1.5em;
}

.img{
    display: table;
    margin: 0 auto;
}

.indivimg{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 20%;
    height: 20vh;
    margin-bottom: 10%;
    filter: grayscale();
}

h1{
    text-align: center;
    line-height: .8em;
    font-size: 2.5em;
     
}
#h2web{
    text-align: center;
    margin-bottom:1em;
    font-size: 2em; 
    color: rgb(82, 82, 82);
}

#navigation {
    height: 100vh;
    text-align: center;
}

#navigation ul{
     list-style: none;
     width: 50%;
     margin: 0 auto;
     
     
}

 li div a{
    list-style: none;  
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;text-transform: uppercase;
    font-size: 2em;
    color: black;
}

li div{ border: solid 1px black;
        height: 6vh;
        display: table;
        width: 100%;
        margin-top: 0.3%;
       

}

li div:hover{
    background-color: blanchedalmond;
}



#lebenslauf, #portfolio, #skills, #kontakt {
    
    height: 100vh; 
    text-align: center;
    
    
    
}

#navcolor_1{
    background-color:#0DCBFA;
}

#navcolor_2{
    background-color:#0BDED0;
}

#navcolor_3{
    background-color:#01F59F;
}

#navcolor_4{
    background-color:#0BDE58;
}
.lebenslauf{
    padding: 3%;
    font-size: 2em;
    text-align: left; 
}

#dwnld {
    display: block;
    margin-top: 40vh;
    text-decoration: none;
}

hr{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(20, 19, 19, 0.356), rgb(145, 240, 153), rgba(19, 16, 16, 0.253));
}








