* {
    margin: 0;
    padding: 0;
    color: rgb(153, 160, 153);
}
html {
scroll-behavior: smooth;

}

body{
    background-color: rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace
}


.img{
    display: table;
    margin: 0 auto;
    

}
.indivimg{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 20%;
    height: 20vh;
    margin-bottom: 10%;
}



h1{
    text-align: center;
    margin-bottom: -2%;
    font-size: 5vh;  
}
#h2web{text-align: center;
    margin-bottom: 2%;
    font-size: 4vh; 
    color: rgb(82, 82, 82);
}

#navigation {
    height: 100vh;
    
    text-align: center;
    

}

#navigation ul{
     list-style: none;
}

 li div a{
    list-style: none;  
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;text-transform: uppercase;
    font-size: 4vh;
    color: black;
}

li div{ border: solid 1px black;
        height: 6vh;
        display: table;
        width: 100%;
        margin-top: 0.3%;

}

li div:hover{
    background-color: blanchedalmond;
}



#lebenslauf, #portfolio, #skills, #kontakt {
    height: 100vh; 
    text-align: center;
    
    
    
}

#navcolor_1{
    background-color:#0DCBFA;
}

#navcolor_2{
    background-color:#0BDED0;
}

#navcolor_3{
    background-color:#01F59F;
}

#navcolor_4{
    background-color:#0BDE58;
}
.lebenslauf{
    padding: 3%;
    font-size: 2em;
    text-align: center;
}





