html {
scroll-behavior: smooth;

}

body{
    background-color: rgba(91, 111, 112, 0.39);
}

#navigation {
    height: 2000px;

    position:sticky;

    

  

    

    text-align: right;

    
}

#lebenslauf, #portfolio, #skills, #kontakt {height: 2000px; 

padding-top: 60px;


}



